@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwindcss";




body {
  font-family: var(--font-jost), sans-serif;
}

.roboto-text {
  font-family: 'Roboto', sans-serif;
}

